# docker-compose.yml
version: "3.8"

services:
  backend:
    networks:
      - app-network
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8001:8000"
    volumes:
      - ./backend:/var/www/html
      - ./files:/var/www/html/storage/app/public
      - ./backend/logs/supervisor:/var/log/supervisor
    environment:
      - APP_NAME=pde
      - APP_ENV=local
      - APP_DEBUG=true
      - APP_TIMEZONE=America/Sao_Paulo
      - APP_URL=https://api.paidoecommerce.com
      - FRONTEND_URL=https://app.paidoecommerce.com
      - APP_LOCALE=pt_BR
      - APP_FALLBACK_LOCALE=en
      - APP_FAKER_LOCALE=pt_BR
      - L5_SWAGGER_CONST_HOST=https://api.paidoecommerce.com
      - L5_SWAGGER_GENERATE_ALWAYS=true
      - APP_MAINTENANCE_DRIVER=file
      - BCRYPT_ROUNDS=12
      - LOG_CHANNEL=stack
      - LOG_STACK=single
      - LOG_DEPRECATIONS_CHANNEL=null
      - LOG_LEVEL=debug
      - DB_CONNECTION=pgsql
      - DB_HOST=172.17.0.1
      - DB_PORT=5433
      - DB_DATABASE=paidoecommerce_db
      - DB_USERNAME=paidoecommerce
      - DB_PASSWORD=S;J^06n?
      - SESSION_DRIVER=database
      - SESSION_LIFETIME=120
      - SESSION_ENCRYPT=false
      - SESSION_PATH=/
      - BROADCAST_CONNECTION=log
      - FILESYSTEM_DISK=local
      - QUEUE_CONNECTION=database
      - CACHE_STORE=database
      - CACHE_PREFIX=""
      - SESSION_DOMAIN=app.paidoecommerce.com,www.app.paidoecommerce.com,localhost,127.0.0.1
      - SANCTUM_STATEFUL_DOMAINS=app.paidoecommerce.com,www.app.paidoecommerce.com,localhost:5174,127.0.0.1:5174
      - MAIL_MAILER=smtp
      - MAIL_HOST=smtp.hostinger.com
      - MAIL_PORT=465
      - MAIL_USERNAME=naoresponda@paidoecommerce.com
      - MAIL_PASSWORD=Z?ToHZ8u#8
      - MAIL_ENCRYPTION=ssl
      - MAIL_FROM_ADDRESS=naoresponda@paidoecommerce.com
      - VITE_APP_NAME=""
      - WS_WHATSAPP_TOKEN=7hK9mN2pQ5rS8vW3xZ1yA4dF6gH0jL2nP5tR8wB9cE4mJ7kU3vX6yA0bD4fG
      - WS_WHATSAPP_URL=https://ws.paidoecommerce.com/api/
      - CHECKOUTAPP_ALLOWED_IPS=15.229.103.46,127.0.0.1,52.67.12.206,18.230.8.159,54.94.136.112,54.94.183.101,54.207.175.46,54.94.35.137,54.232.219.32,127.0.0.1
      - PANDAVIDEO_API_KEY="panda-fcfdcbb5f5ce4f0805311b5ecf99f0543b9696e4a2c369cf17d80f85548e057d"
  frontend:
    networks:
      - app-network
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5174:5174"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - REACT_APP_API_URL=https://api.paidoecommerce.com/api
  whatsapp:
    networks:
      - app-network
    build:
      context: ./whatsappWebService
      dockerfile: Dockerfile
    ports:
      - "4000:4000"
    volumes:
      - ./whatsappWebService:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
      - BACKEND_URL="https://api.paidoecommerce.com"
      - FRONTEND_URL="https://app.paidoecommerce.com"
      - PORT=4000
      - MIDDLEWARE_TOKEN=7hK9mN2pQ5rS8vW3xZ1yA4dF6gH0jL2nP5tR8wB9cE4mJ7kU3vX6yA0bD4fG
      - DB_DIALECT=postgres
      - DB_HOST=
      - DB_PORT=
      - DB_USER=paidoecommerce
      - DB_PASS=S;J^06n?
      - DB_NAME=paidoecommerce_db
      - DB_TIMEZONE=-03:00
networks:
  app-network:
    driver: bridge